# Keep the folder 'aprexis-data', but ignore all of its contents except a marker file.
aprexis-data/*.gz
!aprexis-data/database/.gitkeep
!aprexis-data/.gitkeep

# Ignore the code folders.
aprexis-api/
aprexis-api-ui/
aprexis-api-utility/
aprexis-engine/
aprexis-etl/
aprexispatientapp/
AprexisPatientApp/
aprexis-platform-5/
aprexis_scripts/

# Ignore the copied .ssh folder.
.ssh/

# Ignore .vscode folder.
.vscode/

# Ignore bundler configuration.
.bundle

# Ignore .env file.
.env
