# Keep the folder 'aprexis-data', but ignore all of its contents except a marker file.
aprexis-data/*
!aprexis-data/.gitkeep

# Ignore the code folders.
aprexis-api/
aprexis-api-ui/
aprexis-etl/
aprexispatientapp/
AprexisPatientApp/
aprexis-platform-5/
aprexis_scripts/

# Ignore .vscode folder.
.vscode/
