# Default environment values for Aprexis docker project.

# Host IP address for development docker
APREXIS_HOST_IP=172.17.0.1

# Aprexis platform
APREXIS_PLATFORM_PORT=3000

# Aprexis API
APREXIS_API_PORT=3250

# Aprexis API UI
APREXIS_API_UI_PORT=3500

# PostGreS
APREXIS_POSTGRES_HOST=postgres
APREXIS_POSTGRES_USERNAME=postgres
APREXIS_POSTGRES_PORT=5432

# Redis
APREXIS_REDIS_HOST=redis
APREXIS_REDIS_PORT=6379
APREXIS_REDIS_DEVELOPMENT_RESQUE_URL=redis:6379:0
APREXIS_REDIS_TEST_RESQUE_URL=redis:6379:8
APREXIS_REDIS_DEVELOPMENT_SESSION_URL=redis://redis:6379/1
APREXIS_REDIS_TEST_SESSION_URL=redis://redis:6379/2

# Aprexis Engine
APREXIS_USERNAME=<your Github username>
APREXIS_ENGINE_TOKEN=<your Github fine-grained access token for the Aprexis engine>
